
@{
    ViewBag.Title = "HomeLog";
}


<div class="row">
    <div class="col-md-4">
        <h2>Please Sign In.</h2>
        <form method="post" action="LoggedIn">
            <p>Email: </p>   <input type="email" name="email" value="" />
            <p>Password: </p>   <input type="password" name="password" value="" /><br />
            <input type="submit" />
        </form>

        <h2>Or Create a New Account. <a class="btn btn-default" @Html.ActionLink("SignUp", "Create", "Users")</h2>

    </div>
</div>

